In [1]:
import pickle
import pandas as pd

In [5]:
# load dataset
data_path = 'C:/Users/ASUS/TA01/00_data/dataset_fix.csv'
data = pd.read_csv(data_path, sep=';')

data

,keluhan,bagian
0,1. Pembayaran SPP Genap 1415 dianggap belum lu...,AKUNTANSI
1,Selamat sore.\n Saya Andika mahasiswa sistem i...,AKUNTANSI
2,Mohon maaf saya haidar mau komplain pada saat ...,AKUNTANSI
3,"Assalamualaikum pak/bu, permisi saya\n ABBAS P...",AKUNTANSI
4,"Halo saya mau tanya, tadi saya ke BNI untuk ba...",AKUNTANSI
...,...,...
1548,bagaimana cara masuk igracias ketika saya lupa...,RISET DAN LAYANAN TEKNOLOGI INFORMASI
1549,mohon untuk mempermudah untuk melakukan keluha...,RISET DAN LAYANAN TEKNOLOGI INFORMASI
1550,saya tidak bisa memasukin akun igracias padaha...,RISET DAN LAYANAN TEKNOLOGI INFORMASI
1551,tolong igracias diperbarui lagi dong tampilannya,RISET DAN LAYANAN TEKNOLOGI INFORMASI
1552,Assalamualaikum wr. wb.\nSelamat pagi. Nama sa...,RISET DAN LAYANAN TEKNOLOGI INFORMASI

In [6]:
with open('01_pickle/01_data_training.pickle', 'wb') as output:
    pickle.dump(data, output)